#banner {
    position: relative;
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/guayaquil-small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.banner-blackout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.banner-content {
    z-index: 1;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white);
    padding: 1rem;
}
.banner-content h2 {
    margin: 0;
    font-size: 1.5rem;
}

@media (width > 768px) {
    #banner {
        background-image: url('../images/guayaquil-big.jpg');
    }
}

