@font-face {
    font-family: 'Nunito Sans';
    src: url(../fonts/NunitoSans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: 'Garamond';
    src: url(../fonts/Garamond/EBGaramond-VariableFont_wght.ttf);
}
