footer {
    padding: 1.2rem;
    background-color: var(--main-color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer-link .wrapper {
    background-color: var(--white);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.footer-link .wrapper .fa-brands {
    font-size: 1.1rem;
    color: var(--black);
    transition: color 0.2s ease-in;
}

@media (hover: hover) {
    .footer-link .wrapper:hover {
        background-color: var(--black);
    }
    .footer-link .wrapper:hover .fa-brands {
        color: var(--white);
    }
}
