:root {
    --main-color: #009bdf;
    --secondary-color: #FFA400;
    --tertiary-color: #274C77;
    --black: #000;
    --white: #FFF;
    --gray: #4B5358;
}
* {
    font-size: 18px;
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Garamond';
}
a {
    text-decoration: none;
}
p {
    margin: 0 0 1rem;
}
section {
    padding: 4rem 1rem;
}
.section-content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.section-title {
    margin: 0 0 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.section-subtitle {
    font-size: 1.1rem;
    font-weight: bold;
}
.orange {
    color: var(--secondary-color);
}
.blue {
    color: var(--main-color);
}
.bg-dark {
    background-color: var(--tertiary-color);
    color: var(--white);
}
