.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}
.col {
    flex-grow: 1;
    max-width: 100%;
    padding: 0 1rem;
}
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 1rem;
}
.form-group label, 
.form-group input,
.form-group textarea,
.form-group fieldset {
    display: block;
    width: 100%;
}
.form-group label {
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea,
.form-group fieldset {
    padding: 7px 14px;
    border: 1px solid var(--gray);
    border-radius: 5px;
}
.form-group input,
.form-group textarea {
    font-size: 0.9rem;
}
textarea {
    resize: none;
}
.form-group fieldset {
    padding: 14px;
}
.form-group .form-group-radio {
    max-width: 420px;
    width: 100%;
}
.form-group .form-group-radio .form-radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.form-group .form-group-radio .form-radio label {
    margin-bottom: 0;
}
.form-group-check {
    margin: 0 0 1rem;
}
.form-group-check label {
    margin-left: 7px;
}
.form-group-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}
