/* Header */
.header {
    background-color: var(--main-color);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
/* Logo */
.header .menu-logo {
    max-width: 50px;
    display: inline-block;
}
.header .menu-logo a {
    display: inline-block;
    padding: 5px;
}
.header .menu-logo #logo {
    width: 100%;
}
/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: var(--main-color);
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.menu {
    list-style: none;
}
.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}
/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 27px 20px;
}
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before {
    top: 5px;
}
.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Language menu */
.language-menu {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.language-menu li:nth-child(1) {
    color: var(--white);
    flex: 1 0 100%;
    padding-bottom: 10px;
}
.language-menu li a {
    display: block;
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}
.language-menu li a.active {
    color: var(--main-color);
    background-color: var(--white);
}

@media (width > 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        padding-right: 20px;
    }
    .hamb {
        display: none;
    }
    .nav {
        width: auto;
        height: auto;
        position: relative;
        overflow: visible;
        background-color: var(--main-color);
        max-height: none;
        transition: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu a {
        padding: 20px;
        transition: color 0.2s ease-in;
    }
    .language-menu {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        border-radius: 5px;
        border: 1px solid var(--white);
        padding: 0;
    }
    .language-menu li a {
        padding: 3px;
    }
    .language-menu li:nth-child(1) {
        display: none;
    }
    .language-menu li:nth-child(2) a {
        padding-left: 10px;
        padding-right: 7px;
        border-top-left-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 3px;
    }
    .language-menu li:nth-child(3) a {
        padding-left: 7px;
        padding-right: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 0px;
    }
    .language-menu li a.active {
        color: var(--main-color);
        background-color: var(--white);
    }
}

@media (hover: hover) {
    .menu a:hover {
        color: var(--black);
    }
}
