.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.item {
    box-shadow: 3px 3px 8px 0px var(--soft-gray);
    border-radius: 5px;
}
.item-image {
    height: 170px;
    width: 100%;
    background-position: 50%;
    background-size: cover;
}
.item-content {
    padding: 0.5rem 1rem;
}
.item-content .item-title {
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.item-content .item-description {
    font-size: 0.9rem;
}

@media (width > 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
