#video {
    padding-top: 2rem;
    padding-bottom: 0;
}
#video .section-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 235px;
    animation: fadeIn 4s;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (width > 480px) {
    #video .section-content {
        height: 370px;
    }
}

@media (width > 768px) {
    #video .section-content {
        height: 505px;
    }
}
